## ignore files below ##





# python
__pycache__/
.idea/

# python virtualenv
venv/

# data
generated_img_data/
char_dataset/
multi_line_dataset/
one_line_dataset/
word_dataset/
hgu1_files/
HanDB_test/
HanDB_train/
desc.json